@{
    ViewBag.Title = "Board Create Page";
    string category = ViewBag.Category;
}


<main id="main">
    <section id="contact" class="contact mb-5">

        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-12 text-center mb-5">
                    <h1 class="site-title">Gow Board</h1>
                    <br>
                    <h3>자유 게시판</h3>
                </div>
            </div>

            <!-- start table -->
            <div class="form mt-5 php-email-form">

                <div class="form-group">
                    <input type="text" class="form-control" name="Title" id="Title" placeholder="Title" required>
                    <input type="hidden" class="form-control" name="Category" id="Category" value="@category" required>
                </div>

                <form id="editorForm" class="editor" name="Content" method="post" enctype="multipart/form-data">
                    <div id="editor"></div>
                </form>

                <div class="form-group mt-3">
                    <label for="file-upload">첨부파일</label>
                    <input type="file" id="file-upload" name="file-upload" multiple>
                </div>

                <div id="file-list" class="mt-3"></div>

                <div class="text-md-end mt-5">
                    <button type="submit" id="" class="text-md-end cancel-btn">취소</button>
                    <button type="button" id="create-board-ajax-btn" class="text-md-end ajax-btn">글등록</button>
                </div>
            </div><!-- End table -->

            <br>




        </div>


    </section>

</main><!-- End #main -->

<script type='text/javascript' src='https://cdn.jsdelivr.net/npm/froala-editor@latest/js/froala_editor.pkgd.min.js'></script>

<script>
    const cancelBtn = document.querySelector(".cancel-btn");
    const category = document.querySelector("#Category").value;
    let boardImageIds = [];
    let boardFileIds = [];

    cancelBtn.addEventListener("click", function () {
        if (confirm("입력된 글이 모두 사라집니다. 리스트로 돌아가시겠습니까?")) {
            window.location.href = "/Board/List?category=" + category;
        }
    });

    var editor = new FroalaEditor('#editor', {
        toolbarButtons: {
            'moreText': {
                'buttons': ['bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript', 'fontFamily', 'fontSize', 'textColor', 'backgroundColor', 'inlineClass', 'inlineStyle', 'clearFormatting']
            },
            'moreParagraph': {
                'buttons': ['alignLeft', 'alignCenter', 'formatOLSimple', 'alignRight', 'alignJustify', 'formatOL', 'formatUL', 'paragraphFormat', 'paragraphStyle', 'lineHeight', 'outdent', 'indent', 'quote']
            },
            'moreRich': {
                'buttons': ['emoticons', 'insertImage', 'insertTable', 'insertLink', 'fontAwesome', 'specialCharacters', 'embedly', 'insertHR']
            },
            'moreMisc': {
                'buttons': ['undo', 'redo', 'fullscreen', 'print', 'getPDF', 'spellChecker', 'selectAll', 'html', 'help']
            }
        },
        heightMin: 500,
        heightMax: 500,
        imageUploadURL: '/Board/BoardFileCreate',
        imageUploadMethod: 'POST',
        imageUploadParams: {
            isEditorImage: true
        },
        htmlAllowedTags: ['.*'],
        htmlAllowedAttrs: ['.*'],
        htmlRemoveTags: ['script'],
        pastePlain: false,
        htmlExecuteScripts: false,
        entities: '',
        htmlDoNotWrapTags: ['br', 'hr'],
        htmlUntouched: true,
        useClasses: false,
        events: {
            'image.uploaded': function (response) {
                var resObj = JSON.parse(response);
                boardImageIds.push(resObj.boardFileId);
            },
            'image.removed': async function ($img) {
                const boardFileIdToRemove = $img.attr('boardfileid');

                try {
                    const response = await fetch('/Board/RemoveFile', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ boardFileId: boardFileIdToRemove })
                    });

                    const result = await response.json();

                    if (!result.success) {
                        throw new Error(result.message || '이미지 삭제 중 오류가 발생했습니다.');
                    }
                    console.log("이미지 삭제 완료");

                    // `boardFileIds`에서 삭제된 ID 제거
                    boardImageIds = boardImageIds.filter(id => id !== boardFileIdToRemove);

                } catch (error) {
                    console.error(error);
                    alert(`이미지 삭제 중 오류가 발생했습니다.${error.message}`);
                }
            },
            'image.error': function (error) {
                console.error(error);
                alert("이미지 업로드 중 오류가 발생했습니다. 다시 시도해주세요.");
            }
        }
    });

    const fileUpload = document.getElementById('file-upload');
    const fileList = document.getElementById('file-list');
    const maxFileSize = 20 * 1024 * 1024; // 20MB in bytes

    fileUpload.addEventListener('change', async function (event) {
        const files = event.target.files;
        for (let file of files) {
            if (file.size > maxFileSize) {
                alert('20MB이상 크기의 파일을 첨부 할 수 없습니다.');
                continue; // Skip this file
            }
            try {
                const formData = new FormData();
                formData.append('file', file);

                const response = await fetch('/Board/BoardFileCreate', {
                    method: 'POST',
                    body: formData
                });

                if (!response.ok) {
                    const errorData = await response.json();
                    throw new Error(errorData.message || '파일 업로드 실패');
                }

                const result = await response.json();

                const fileItem = document.createElement('div');
                fileItem.className = 'file-item';
                fileItem.innerHTML = `
                    <span>${file.name}</span>
                    <button type="button" class="remove-file bi bi-file-earmark-x" data-id="${result.boardFileId}" ></button>
                `;
                fileList.appendChild(fileItem);
                boardFileIds.push(result.boardFileId); // 배열에 파일 ID 추가

            } catch (error) {
                console.error('파일 업로드 중 오류:', error);
                alert('파일 업로드 중 오류가 발생했습니다.');
            }
        }
        fileUpload.value = ''; // 입력 필드 초기화
    });

    fileList.addEventListener('click', async function (event) {
        if (event.target.classList.contains('remove-file')) {
            const boardFileIdToRemove = event.target.getAttribute('data-id'); // 변수명 일관성 있게 수정
            try {
                const response = await fetch('/Board/RemoveFile', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ boardFileId: boardFileIdToRemove })
                });

                if (!response.ok) {
                    const errorData = await response.json();
                    throw new Error(errorData.message || '파일 삭제 실패');
                }

                const result = await response.json();

                if (result.success) {
                    event.target.closest('.file-item').remove();
                    boardFileIds = boardFileIds.filter(id => id !== boardFileIdToRemove); // 배열에서 파일 ID 제거
                } else {
                    throw new Error(result.message || '파일 삭제 실패');
                }
            } catch (error) {
                console.error('파일 삭제 중 오류:', error);
                alert('파일 삭제 중 오류가 발생했습니다: ' + error.message);
            }
        }
    });

    const createBoardBtn = document.querySelector("#create-board-ajax-btn");
    createBoardBtn.addEventListener("click", function () {
        if (!confirm("게시글을 등록하시겠습니까?")) {
            return;
        }

        const title = document.querySelector("#Title");
        const content = editor.el.innerHTML;
        const contentText = editor.html.get().replace(/<p><br><\/p>/g, '').trim();

        if (title.value.trim() === "") {
            alert("제목을 입력해주세요");
            title.focus();
            return;
        }

        if (contentText === "") {
            alert("내용을 입력해주세요");
            editor.events.focus();
            return;
        }

        let formData = new FormData();
        formData.append('Title', title.value);
        formData.append('Category', category);
        formData.append('Content', content);

        for (let i = 0; i < boardFileIds.length; i++) {
            formData.append('BoardFileId[]', boardFileIds[i]);
        }

        for (let i = 0; i < boardImageIds.length; i++) {
            formData.append('BoardFileId[]', boardImageIds[i]);
        }

        fetch('/Board/Create', {
            method: "POST",
            body: formData
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                if (data.success) {
                    alert(data.message);
                    window.location.href = "/Board/DetailView/" + data.boardContentId;
                } else {
                    alert(data.message);
                }
            })
            .catch(error => {
                alert('전송 오류 : ' + error.message);
            });
    });
</script>
