@{
    ViewBag.Title = "Board Update Page";
    int boardContentId = ViewBag.id;
}

<main id="main">
    <section id="contact" class="contact mb-5">

        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-12 text-center mb-5">
                    <h1 class="site-title">Gow Board</h1>
                    <br>
                    <h3>자유 게시판</h3>
                </div>
            </div>
            <input type="hidden" id="Category" name="Category"/>
            <!-- start table -->
            <div class="form mt-5 php-email-form">

                <div class="form-group">
                    <input type="text" class="form-control" name="Title" id="Title" placeholder="Title" required>
                </div>

                <form id="editorForm" class="editor" name="Content" method="post" enctype="multipart/form-data">
                    <div id="editor"></div>
                </form>

                <div class="form-group mt-3">
                    <label for="file-upload">첨부파일</label>
                    <input type="file" id="file-upload" name="file-upload" multiple>
                </div>
                <div id="file-list" class="mt-3"></div>

                <div class="text-md-end mt-5">
                    <button type="submit" id="" class="text-md-end cancel-btn">취소</button>
                    <button type="button" id="update-board-ajax-btn" class="text-md-end ajax-btn">수정</button>
                </div>
            </div><!-- End table -->

            <br>





        </div>


    </section>

</main><!-- End #main -->
<script>
    const boardContentId = @boardContentId;
</script>
<script type='text/javascript' src='https://cdn.jsdelivr.net/npm/froala-editor@latest/js/froala_editor.pkgd.min.js'></script>
<script>
    let boardFileIds = [];
    let boardImageIds = [];

    const cancelBtn = document.querySelector(".cancel-btn");
    cancelBtn.addEventListener("click", function () {
        if (confirm("입력된 글이 모두 사라집니다. 리스트로 돌아가시겠습니까?")) {
            const category = document.querySelector('#Category').value;
            window.location.href = "/Board/List?category=" + category;
        }
    });

    var editor = new FroalaEditor('#editor', {
        toolbarButtons: {
            'moreText': {
                'buttons': ['bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript', 'fontFamily', 'fontSize', 'textColor', 'backgroundColor', 'inlineClass', 'inlineStyle', 'clearFormatting']
            },
            'moreParagraph': {
                'buttons': ['alignLeft', 'alignCenter', 'formatOLSimple', 'alignRight', 'alignJustify', 'formatOL', 'formatUL', 'paragraphFormat', 'paragraphStyle', 'lineHeight', 'outdent', 'indent', 'quote']
            },
            'moreRich': {
                'buttons': ['emoticons', 'insertImage', 'insertTable', 'insertLink', 'fontAwesome', 'specialCharacters', 'embedly', 'insertHR']
            },
            'moreMisc': {
                'buttons': ['undo', 'redo', 'fullscreen', 'print', 'getPDF', 'spellChecker', 'selectAll', 'html', 'help']
            }
        },
        heightMin: 500,
        heightMax: 500,
        imageUploadURL: '/Board/BoardFileCreate',
        imageUploadMethod: 'POST',
        imageUploadParams: {
            isEditorImage: true
        },
        htmlAllowedTags: ['.*'],
        htmlAllowedAttrs: ['.*'],
        htmlRemoveTags: ['script'],
        pastePlain: false,
        htmlExecuteScripts: false,
        entities: '',
        htmlDoNotWrapTags: ['br', 'hr'],
        htmlUntouched: true,
        useClasses: false,
        events: {
            'image.uploaded': function (response) {
                var resObj = JSON.parse(response);
                boardImageIds.push(resObj.boardFileId);
            },
            'image.removed': async function ($img) {
                const boardFileIdToRemove = $img.attr('boardfileid');

                try {
                    const response = await fetch('/Board/RemoveFile', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ boardFileId: boardFileIdToRemove })
                    });

                    const result = await response.json();

                    if (!result.success) {
                        throw new Error(result.message || '이미지 삭제 중 오류가 발생했습니다.');
                    }
                    console.log("이미지 삭제 완료");

                    boardImageIds = boardImageIds.filter(id => id !== boardFileIdToRemove);

                } catch (error) {
                    console.error(error);
                    alert(`이미지 삭제 중 오류가 발생했습니다.${error.message}`);
                }
            },
            'image.error': function (error) {
                console.error(error);
                alert("이미지 업로드 중 오류가 발생했습니다. 다시 시도해주세요.");
            }
        }
    });


    const fileUpload = document.getElementById('file-upload');
    const fileList = document.getElementById('file-list');
    const maxFileSize = 20 * 1024 * 1024;

    fileUpload.addEventListener('change', async function (event) {
        const files = event.target.files;
        for (let file of files) {
            if (file.size > maxFileSize) {
                alert('20MB이상 크기의 파일을 첨부 할 수 없습니다.');
                continue;
            }
            try {
                const formData = new FormData();
                formData.append('file', file);

                const response = await fetch('/Board/BoardFileCreate', {
                    method: 'POST',
                    body: formData
                });

                if (!response.ok) {
                    const errorData = await response.json();
                    throw new Error(errorData.message || '파일 업로드 실패');
                }

                const result = await response.json();

                const fileItem = document.createElement('div');
                fileItem.className = 'file-item';
                fileItem.innerHTML = `
                    <span>${file.name}</span>
                    <button type="button" class="remove-file" data-id="${result.boardFileId}">X</button>
                `;
                fileList.appendChild(fileItem);
                boardFileIds.push(result.boardFileId);

            } catch (error) {
                console.error('파일 업로드 중 오류:', error);
                alert('파일 업로드 중 오류가 발생했습니다.');
            }
        }
        fileUpload.value = '';
    });

    fileList.addEventListener('click', async function (event) {
        if (event.target.classList.contains('remove-file')) {
            const boardFileIdToRemove = event.target.getAttribute('data-id');
            try {
                const response = await fetch('/Board/RemoveFile', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ boardFileId: boardFileIdToRemove })
                });

                if (!response.ok) {
                    const errorData = await response.json();
                    throw new Error(errorData.message || '파일 삭제 실패');
                }

                const result = await response.json();

                if (result.success) {
                    event.target.closest('.file-item').remove();
                    boardFileIds = boardFileIds.filter(id => id !== boardFileIdToRemove);
                } else {
                    throw new Error(result.message || '파일 삭제 실패');
                }
            } catch (error) {
                console.error('파일 삭제 중 오류:', error);
                alert('파일 삭제 중 오류가 발생했습니다: ' + error.message);
            }
        }
    });

    const updateBoardBtn = document.querySelector("#update-board-ajax-btn");
    updateBoardBtn.addEventListener("click", function () {
        if (!confirm("게시글을 수정하시겠습니까?")) {
            return;
        }

        const title = document.querySelector("#Title");
        const content = editor.html.get();
        const contentText = editor.html.get().replace(/<p><br><\/p>/g, '').trim();

        if (title.value.trim() === "") {
            alert("제목을 입력해주세요");
            title.focus();
            return;
        }

        if (contentText === "") {
            alert("내용을 입력해주세요");
            editor.events.focus();
            return;
        }

        let formData = new FormData();
        formData.append('Title', title.value);
        formData.append('Content', content);

        boardFileIds.forEach(fileId => {
            formData.append('BoardFileId[]', fileId);
        });

        for (let i = 0; i < boardImageIds.length; i++) {
            formData.append('BoardFileId[]', boardImageIds[i]);
        }

        fetch('/Board/Update/' + boardContentId, {
            method: "POST",
            body: formData
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                if (data.success) {
                    alert(data.message);
                    window.location.href = "/Board/DetailView/" + boardContentId;
                } else {
                    alert(data.message);
                }
            })
            .catch(error => {
                alert('전송 오류 : ' + error.message);
            });
    });

    function updateNavigation(category) {
        const navLinks = document.querySelectorAll('#navbar .nav-item a');
        navLinks.forEach(link => {
            const linkPath = link.getAttribute('data-page').toLowerCase();
            const linkCategory = linkPath.split('=')[1]; // 'board' 또는 'notice'

            if (linkCategory === category.toLowerCase()) {
                link.classList.add('active');
            } else {
                link.classList.remove('active');
            }
        });
    }

    function editorCall(boardContentId) {
        fetch(`/Board/UpdateData/${boardContentId}`)
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    document.querySelector('#Title').value = data.title;
                    editor.html.set(data.content);
                    document.querySelector('#Category').value = data.category;
                    boardFileIds = data.boardFiles.map(file => !file.isEditorImage) || [];

                    const categoryTitle = document.querySelector('h3');
                    categoryTitle.textContent = data.category === 'Notice' ? '공지사항' : '자유 게시판';

                    updateNavigation(data.category);

                    if (fileList) {
                        fileList.innerHTML = '';
                        data.boardFiles.forEach(file => {
                            if (!file.isEditorImage) {
                                const fileItem = document.createElement('div');
                                fileItem.className = 'file-item';
                                fileItem.innerHTML = `
                                <span>${file.name}</span> 
                                <button type="button" class="remove-file" data-id="${file.id}">X</button>
                            `;
                                fileList.appendChild(fileItem);
                            }
                        });
                    }
                } else {
                    alert(data.message);
                }
            })
            .catch(error => {
                alert('해당 게시글에 대한 수정 정보를 받아 올 수 없습니다');
            });
    }

    document.addEventListener('DOMContentLoaded', function () {
        const fileList = document.querySelector('#file-list'); // fileList 요소를 DOM에서 가져옴
        if (fileList) {
            fileList.addEventListener('click', async function (event) {
                if (event.target.classList.contains('remove-file') && !isDeleting) {
                    event.stopPropagation(); 
                    isDeleting = true;
                    const boardFileIdToRemove = event.target.getAttribute('data-id');
                    try {
                        const response = await fetch('/Board/RemoveFile', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({ boardFileId: boardFileIdToRemove })
                        });

                        if (!response.ok) {
                            const errorData = await response.json();
                            throw new Error(errorData.message || '파일 삭제 실패');
                        }

                        const result = await response.json();

                        if (result.success) {
                            event.target.closest('.file-item').remove();
                            boardFileIds = boardFileIds.filter(id => id !== boardFileIdToRemove);
                        } else {
                            throw new Error(result.message || '파일 삭제 실패');
                        }
                    } catch (error) {
                        console.error('파일 삭제 중 오류:', error);
                        alert('파일 삭제 중 오류가 발생했습니다: ' + error.message);
                    } finally {
                        isDeleting = false;
                    }
                }
            });
        } else {
            console.warn('#file-list 요소를 찾을 수 없습니다.');
        }
        editorCall(boardContentId);
    });


</script>
