<?xml version="1.0" encoding="utf-8"?>
<!--
이 파일은 웹 프로젝트의 게시/패키지 프로세스에서 사용됩니다. 이 MSBuild 파일을 편집하여 이 프로세스의 동작을
사용자 지정할 수 있습니다. 이에 대한 자세한 내용은 https://go.microsoft.com/fwlink/?LinkID=208121을 참조하세요. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/75b363f5-9110-42f1-b153-2e10dee10c72/resourcegroups/Personal/providers/Microsoft.Web/sites/GowBoard20240725110832</ResourceId>
    <ResourceGroup>Personal</ResourceGroup>
    <RuntimeIdentifier />
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://gowboard20240725110832.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>gowboard20240725110832.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>GowBoard20240725110832</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
    <UserName>$GowBoard20240725110832</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="GowBoardContext" Order="1" Enabled="True">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="GowBoard.Models.Context.GowBoardContext, GowBoard" MigrationConfiguration="GowBoard.Migrations.Configuration, GowBoard" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="GowBoardDB" Order="2" Enabled="True">
          <Destination Path="Data Source=gow-board.database.windows.net,1433;Initial Catalog=GowBoardDB;User ID=bacchus;Password=Rudwls56!!!!" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:gow-board.database.windows.net,1433;Initial Catalog=GowBoardDB;Persist Security Info=False;User ID=bacchus;Password={your_password};Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\GowBoardDB_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:gow-board.database.windows.net,1433;Initial Catalog=GowBoardDB;Persist Security Info=False;User ID=bacchus;Password={your_password};MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="GowBoardDB-Web.config Connection String">
      <ParameterValue>data source=gow-board.database.windows.net,1433;initial catalog=GowBoardDB;user id=bacchus;password=Rudwls56!!!!;MultipleActiveResultSets=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="GowBoardContext-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="GowBoardContext" />
  </ItemGroup>
</Project>